* {
    margin: 0;
}

body {
    background-color: #FFFFFF;
}

/* 보라색배경 */
#back {
    position: absolute;
    bottom: 0;
    left: -30px;
    width: 115%;
    height: 80px;
    background-color: #5C69F3;
    border-radius: 30% 30% 0% 0%;
}

/* 로고부분 */
.header {
    position: relative;
    top: 70px;
    height: 180px;
}

#logo {
    position: relative;
    top: 15px;
    text-align: center;
    font-family: 'Biryani', sans-serif;
    font-weight: 800;
    font-size: 60px;
    line-height: 60px;
    color: #5C69F3;
}

/* 입력 */
#id, #pw {
    position: absolute;
    top: 250px;
    left: 50px;
    width: 270px;
    border: 1px solid white;
    border-bottom: 2px solid rgb(179, 172, 175);
}

#pw {
    top: 320px;
}

input {
    width: 270px;
    border: none;
    font-size: 15px;
    padding-bottom: 12px;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #FC80B1;
}

input::placeholder {
    color: hsla(0, 3%, 36%, 0.562);
    font-size: 15px;
}
  
/* 버튼 */
#btn {
    position: relative;
    top: 200px;
    left: 21%;
    width: 200px;
    height: 50px;
    background-color: #FC80B1;
}

#btn::before, #btn::after {
    content:"";
    position: absolute;
    left: -25px;
    width: 55px;
    height: 50px;
    border-radius: 50%;
    background-color: #FC80B1;
    
}
#btn::after {
    top: 0;
    left: 170px;
}

#btn, #btn::before, #btn::after {
    box-shadow: 0px 0px 10px 0px #FC80B1;
}

#btn p {
    position: absolute;
    top: 13px;
    left: 35%;
    font-size: 16px;
    color: white;
    text-align: center;
}

/* 비번 찾기 */
#p1 {
    position: relative;
    top: 210px;
    left: 50px;
    font-size: 14px;
    color: grey;
}

#google {
    position: absolute;
    bottom: 130px;
    left: 75px;
}

#p2 {
    position: absolute;
    bottom: 140px;
    left: 115px;
    font-size: 13px;
    font-weight: bold;
    color: #799DC0;
}

#p3{
    position: absolute;
    bottom: 45px;
    left: 70px;
    font-size: 13px;
    color: white;
}
a {
    position: absolute;
    bottom: 45px;
    left: 215px;
    font-size: 13px;
    font-weight: bold;
    color: white;
    text-decoration:none;
}

