* {
    top: 0;
    margin: 0;
}

/*header*/
.bar {
    width: 100%;
    height: 50px;
    padding: 8px;
}

.right {
    height: 40px;
    padding:  5px 8px 8px 80%   ;
}

a {
    text-decoration: none;
    color: #65696E;
}

#gmail, #image{
    display: inline-block;
    padding: 8px;
    
}

#gmail:hover, #image:hover{
    text-decoration: underline;
}

#apps {
    display: inline-block;
    width: 5px;
    height: 5px;
    box-shadow: 0 -8px 0, -8px -8px 0, 8px -8px 0, 0 0 0 8px inset, -8px 0 0, 8px 0 0, 0 8px 0, -8px 8px 0, 8px 8px 0;
    margin: 10px 15px 3px 17px;
    color: #65696E;
}
#app{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: -17px;
    margin-left: -17px;
    background-color: #65696E;
    opacity: 0;
}
#app:hover {
    cursor: pointer;
    opacity: 0.2;
}

#account {
    position: relative;
    display: inline-block;
    top: 7px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #65696E;
    margin: 0 0 -1px 15px;
}
#my{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-top: -7px;
    margin-left: -7px;
    background-color: #65696E;
    opacity: 0;
}
#my:hover {
    cursor: pointer;
    opacity: 0.2;
}

/*section*/
section {
    width: 100%;
    padding-top: 70px;
    
}

/*section_search*/
#logo {
    width: 260px;
    margin: auto;
}

.search {
    width: 100%;
    padding-top: 20px;  
    text-align: center;
}


#fake {
    width: 500px;
    height: 43px;
    border: none;
    border-radius: 50px;
    background-color: #F1F3F4;
    margin-left:auto; margin-right:auto;
}

#input {
    position: relative;
    top: -57px;
    width: 440px;
    height: 30px;
    border: none;
    opacity: 0.5;
    background-color: #F1F3F4;
    font-size: 16px;
}
#input:hover {
    cursor: text;
}
#input:focus {
    outline: none;
    opacity: 1;
}

#inputtext {
    position: relative;
    top: -33px;
    left:-125px;
}

#mic {
    position: relative;
    top: -53px; 
    padding-right: 8px;
}

#mic:hover{
    cursor: pointer;
}

/*section_most-visit*/
